    <h1>Real Time Products</h1>
    <ul id="product-list">
        {{#each products}}
            <li>{{this.nombre}}</li>
            <li>{{this.descripcion}}</li>
            <li>{{this.precio}}</li>
        {{/each}}
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();    

        socket.on('update', function (data) {
            // Actualiza la lista de productos en tiempo real
            const productList = document.getElementById('product-list');
            productList.innerHTML = '';

            data.forEach(function (product) {
                const listItem = document.createElement('li');
                listItem.innerText = product.name + ' - ' + product.price;
                productList.appendChild(listItem);
            });
        });
    </script>